* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 300;
}

.display .spinner-container {
  opacity: 0;
  visibility: hidden;
}

.circles {
  width: 8rem;
  height: 8rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
  animation: displayCircles 4s;
}

@keyframes displayCircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  25% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.circles div {
  animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 4rem 4rem;
}

.circles div::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #33c1ff;
  margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1) {
  animation-delay: -0.036s;
}

.circles div:nth-child(1)::after {
  top: 6.3rem;
  left: 6.3rem;
}

.circles div:nth-child(2) {
  animation-delay: -0.072s;
}

.circles div:nth-child(2)::after {
  top: 6.8rem;
  left: 5.6rem;
}

.circles div:nth-child(3) {
  animation-delay: -0.108s;
}

.circles div:nth-child(3)::after {
  top: 7.1rem;
  left: 4.8rem;
}

.circles div:nth-child(4) {
  animation-delay: -0.144s;
}

.circles div:nth-child(4)::after {
  top: 7.2rem;
  left: 4rem;
}

.circles div:nth-child(5) {
  animation-delay: -0.18s;
}

.circles div:nth-child(5)::after {
  top: 7.1rem;
  left: 3.2rem;
}

.circles div:nth-child(6) {
  animation-delay: -0.216s;
}

.circles div:nth-child(6)::after {
  top: 6.8rem;
  left: 2.4rem;
}

.circles div:nth-child(7) {
  animation-delay: -0.252s;
}

.circles div:nth-child(7)::after {
  top: 6.3rem;
  left: 1.7rem;
}

.circles div:nth-child(8) {
  animation-delay: -0.288s;
}

.circles div:nth-child(8)::after {
  top: 5.6rem;
  left: 1.2rem;
}

@keyframes circles {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: none;
}

.display .container {
  display: block;
}

.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu {
  right: 33rem;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.line {
  background-color: rgba(0, 0, 0, 0.8);
}
.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: #33c1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto Mono", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #33c1ff;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 25s;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 3rem;
  left: 35%;
}

.banner h1 {
  font-family: "Roboto Mono", serif;
  font-size: 6rem;
  color: #fff;
  width: 100%;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

.banner img {
  width: 40rem;
  height: 40rem;
  margin-left: 10rem;
  border-radius: 25rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
}

.banner h2 {
  font-family: "Roboto Mono", serif;
  font-size: 3rem;
  text-indent: 6rem;
  color: #fff;
  width: 100%;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY("-20deg");
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #77848c;
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: left;
  padding-bottom: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-link {
  font-family: "Roboto Mono", serif;
  font-size: 3.3rem;
  color: #222;
  position: relative;
  text-transform: uppercase;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #33c1ff;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s;
}

.menu-link:hover::before {
  width: 100%;
}
.social-media {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.social-media i {
  font-size: 2.2rem;
  margin: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: #33c1ff;
}

/*About me Styling*/
.About {
  width: 100vw;
  height: 200vh;
  background-color: rgba(176, 174, 169, 1);
  padding-bottom: 15rem;
}

.upper-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-section {
  margin-top: 10rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.section-heading {
  font-family: "Roboto Mono", serif;
  font-size: 5rem;
  font-weight: 300;
  color: #222;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.underline {
  width: 12rem;
  height: 0.3rem;
  background-color: #fff;
}

.upper-left-section {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 50vw;
  height: 80vh;
}
.upper-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
}

.skill-container {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill-container .skill-card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  margin: 25px;
}

.skill-container .skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.skill-container .skill-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 30px;
  transition: 0.5s;
}

.skill-card:hover .percent .number h2 {
  color: #fff;
  font-size: 50px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}

.skill-card:hover .percent .number h2 span {
  color: #fff;
}
.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.skill-card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.skill-card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}

.skill-card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #00a1ff;
}
.skill-card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #ff04f7;
}
.skill-card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #bbff00;
}
.skill-card:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 50) / 100);
  stroke: #ffa704;
}
.skill-card:nth-child(6) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 50) / 100);
  stroke: #ff0000;
}

.sub-heading {
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
}

.sub-heading h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Roboto Mono", serif;
  line-height: 6rem;
  color: #fff;
  text-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
}

.sub-heading-bottom {
  display: block;
  left: 50rem;
}
.sub-heading-bottom h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Roboto Mono", serif;
  color: #fff;
  padding-top: 5rem;
}

/* Tools/Platform Bar graph styling section*/
.tools-platform {
  border: 2px solid black;
  height: 50vh;
  width: 50vw;
  display: flex;
}

.chart {
  width: 600px;
  height: 500px;
  display: flex;
  align-items: flex-start;
}

.numbers {
  color: #fff;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 150%;
  display: block;
  float: left;
}

.numbers li {
  list-style: none;
  height: 192px;
  position: relative;
  bottom: 173px;
}

.numbers span {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.bars {
  color: #fff;
  font-size: 18px;
  overflow-wrap: inherit;
  font-weight: 600;
  background: #555;
  margin: 0;
  padding: 0;
  display: block;
  width: 20000px;
  height: 400px;
  box-shadow: 0 0 10px 0 #555;
  border-radius: 5px;
  float: left;
}

.bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  position: relative;
}

.bars span {
  width: 100%;
  position: absolute;
  bottom: -130px;
  text-align: center;
}

.bars .bar {
  display: block;
  background: #15fd00;
  width: 25px;
  position: absolute;
  bottom: -100px;
  margin-left: 35px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  transition-property: bacground, box-shadow;
  stroke-width: 10;
  stroke-linecap: round;
  border-radius: 5px;
}

.bars .bar:hover {
  background: #ffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  width: 50px;
  margin-left: 25px;
  cursor: pointer;
}

.bars .bar:before {
  color: #fff;
  content: attr(data-percentage) "%";
  position: relative;
  bottom: 20px;
}

.underline-projects {
  width: 12rem;
  height: 0.3rem;
  background-color: #666;
}
.topics {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(8, 6rem);
  grid-row-gap: 4rem;
}

.topic {
  width: 100%;
  margin-bottom: 2rem;
}

.topic:nth-child(1) {
  grid-column: 3/6;
  grid-row: 1/3;
}

.topic:nth-child(2) {
  grid-column: 2/5;
  grid-row: 3/5;
}
.topic:nth-child(3) {
  grid-column: 3/6;
  grid-row: 5/-1;
}
.topic:nth-child(4) {
  grid-column: 13/16;
  grid-row: 1/3;
}
.topic:nth-child(5) {
  grid-column: 14/17;
  grid-row: 3/5;
}
.topic:nth-child(6) {
  grid-column: 13/ 16;
  grid-row: 5 / -1;
}

.topic-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.topic-header i {
  font-size: 4rem;
  color: #222;
  margin-right: 2rem;
}

.topic-header h3 {
  font-family: "Baloo Da 2", serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.topic-text {
  font-family: "Obidee Sans", serif;
  font-size: 1.6rem;
  text-align: justify;
  opacity: 0.8;
}

.about-me-img-wrapper {
  grid-column: 7/12;
  grid-row: 2/3;
  width: 100%;
}
.about-me-img-wrapper img {
  width: 100%;
  object-fit: cover;
  border: 0.5rem solid #fff;
  border-radius: 50%;
}

/* Skills styling */

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
  background-color: rgba(121, 150, 176, 1);
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  width: 100%;
}

.card {
  width: 35rem;
  height: 50rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #222;
  border-radius: 0.5rem;
}
.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 1;
}

.card-info {
  position: absolute;
  bottom: 2rem;
  padding: 2rem;
  text-shadow: 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.card-info h2 {
  font-family: "Roboto Mono", serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #eee;
}

.card-info h3 {
  font-family: "Muli", serif;
  font-size: 2rem;
  font-weight: 500;
  color: red;
  margin-bottom: 1rem;
}

.card-info p {
  font-family: "Baloo Da 2", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: #eee;
  width: 80%;
  margin-bottom: 2rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: #33c1ff;
  border: none;
  font-family: "Roboto Mono", serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

/* Contact Me Styling */
.contact {
  width: 100%;
  height: 100vh;
  background-color: rgba(66, 106, 143, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  width: 60%;
  height: 75rem;
  display: flex;
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}

.contact-left {
  width: 35%;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
    url(assets/images/headshot1.jpg) center no-repeat;
  background-size: cover;
}

.contact-right {
  width: 65%;
  background-color: #eee;
  padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
  font-family: "Roboto Mono", serif;
  font-size: 6rem;
  font-weight: 300;
  color: #272727;
  margin-bottom: 5rem;
  text-align: center;
}

.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
}

.field {
  width: 45rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem dashed #636363;
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family: "Odibee Sans", serif;
  font-size: 1.6rem;
  color: #4b4b4b;
}

.input-group input {
  height: 4rem;
}

.input-group textarea {
  max-height: 6.5rem;
  max-width: 45rem;
}

.field:focus {
  border-bottom-style: solid;
}

.input-group label {
  position: absolute;
  left: 0;
  font-family: "Roboto Mono", serif;
  font-size: 1.8rem;
  color: #4b4b4b;
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.3s;
}

.input-label {
  bottom: 3rem;
}

.message {
  bottom: 6rem;
}

.field:focus ~ label {
  transform: translateY(-3rem);
  font-size: 1.2rem;
}

.submit-button {
  width: 45rem;
  height: 5rem;
  background-color: #33c1ff;
  color: #fff;
  border: none;
  margin-top: 2rem;
  font-family: "Obidee Sans", serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

/*footer styling*/
.footer {
  width: 100%;
  height: 15rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.copyright {
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.social-list a {
  margin: 0;
}
.social-list i {
  font-size: 2rem;
  color: #a7a7a7;
  letter-spacing: 2rem;
}

.scroll-button {
  position: fixed;
  left: 5rem;
  bottom: 5rem;
  width: 5rem;
  height: 5rem;
  background-color: #33c1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

@media (max-width: 1500px) {
  .about-me-img-wrapper {
    grid-row: 3/-1;
  }
  .card {
    width: 34rem;
  }

  .contact-wrapper {
    width: 80%;
    height: 65rem;
  }

  .footer-content {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .banner p {
    font-size: 3rem;
  }

  .menu-link {
    font-size: 3rem;
  }

  .topic:nth-child(1) {
    grid-column: 3/7;
  }

  .topic:nth-child(2) {
    grid-column: 2/6;
  }
  .topic:nth-child(3) {
    grid-column: 3/7;
  }
  .topic:nth-child(4) {
    grid-column: 11/15;
  }
  .topic:nth-child(5) {
    grid-column: 12/16;
  }
  .topic:nth-child(6) {
    grid-column: 11 / 15;
  }
}

@media (max-width: 1300px) {
  .projects {
    padding-bottom: 5rem;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card {
    margin-bottom: 8rem;
  }

  .contact-wrapper {
    width: 90%;
    height: 55rem;
  }

  .contact-heading {
    margin-bottom: 2rem;
  }

  .field {
    margin: 2rem 0;
  }
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  .banner button {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .topics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topic {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .about-us-img-wrapper {
    width: 40rem;
  }

  .about-us-img-wrapper img {
    width: 100%;
  }

  .contact-left {
    width: 0;
  }

  .contact-right {
    width: 100%;
  }

  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }

  .submit-button {
    width: 55rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin-top: 3rem;
  }
}

@media (max-width: 700px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .banner p {
    font-size: 2rem;
    letter-spacing: 0rem;
  }

  .field {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }

  .submit-button {
    width: 35rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .banner p {
    font-size: 2rem;
    letter-spacing: 0rem;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .change .hamburger-menu {
    right: 38rem;
  }

  .topic {
    width: 30rem;
  }

  .footer {
    height: 18rem;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 45%;
  }

  .banner p {
    font-size: 2rem;
    letter-spacing: 0rem;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .change .hamburger-menu {
    right: 38rem;
  }

  .topic {
    width: 30rem;
  }

  .footer {
    height: 18rem;
  }

  .input-group textarea {
    max-width: 25rem;
  }

  .submit-button {
    width: 25rem;
  }

  .field {
    width: 25rem;
  }

  .contact-wrapper {
    width: 95%;
    height: 55rem;
  }

  .contact-heading {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}
